<div class="banner-carousel banner-carousel-1 mb-0">
    <div class="banner-carousel-item" style="background-image: url(../../../../../Assets/source/images/banner_1.jpg)">
        <div class="slider-content">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 text-center">
                        <h2 class="slide-title" data-animation-in="slideInLeft">30 Years of experinece in</h2>
                        <h3 class="slide-sub-title" data-animation-in="slideInRight">Fine Arts</h3>
                        <p data-animation-in="slideInLeft" data-duration-in="1.2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-carousel-item" style="background-image: url(../../../../../Assets/source/images/banner_2.jpg)">
        <div class="slider-content">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 text-center">
                        <h2 class="slide-title" data-animation-in="slideInLeft">When knowledge meets excellence</h2>
                        <h3 class="slide-sub-title" data-animation-in="slideInRight">The choice is yours</h3>
                        <p data-animation-in="slideInLeft" data-duration-in="1.2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-carousel-item" style="background-image: url(../../../../../Assets/source/images/banner_3.jpg)">
        <div class="slider-content">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 text-center">
                        <h2 class="slide-title" data-animation-in="slideInLeft">We believe in your potencials</h2>
                        <h3 class="slide-sub-title" data-animation-in="slideInRight">We can give you the skill to fly up!</h3>
                        <p data-animation-in="slideInLeft" data-duration-in="1.2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
