<section id="ts-features" class="ts-features pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/Assets/source/images/dance.jpg" alt="dance-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/Assets/source/images/danceicon.png" width="80" alt="dance-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="~/Public/Course/Dance">Feel the rythm</a></h3>
                            <p>Dance is a performing art form consisting of sequences of <b>movement</b>, either improvised or purposefully selected. This movement has aesthetic and often symbolic value.
                               <b>Dance can be categorized and described by its choreography</b>, by its repertoire of movements, or by its historical period or place of origin.</p>
                            <a class="learn-more d-inline-block" href="~/Public/Course/Dance" aria-label="dance-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 1 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/Assets/source/images/music.jpg" alt="sing-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/Assets/source/images/singIcon.png" width="60" alt="sing-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="~/Public/Course/Sing">Melody of Success</a></h3>
                            <p>Music is the art of arranging sounds in time through the elements of melody, harmony, rhythm, and timbre.General definitions of music include common elements such as <b>pitch</b> (which governs melody and harmony), 
                                <b>rhythm</b> (and its associated concepts tempo, meter, and articulation), <b>dynamics</b> (loudness and softness), and the <b>sonic qualities</b> of timbre and texture.</p>
                            <a class="learn-more d-inline-block" href="~/Public/Course/Sing" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service2 end -->
            </div><!-- Col 2 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/Assets/source/images/Paint.jpg" alt="paint-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/Assets/source/images/PaintIcon.png" width="70" alt="paint-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="~/Public/Course/Paint">Build To Last</a></h3>
                            <p><b>Painting is the practice of applying paint, pigment, color or other medium to a solid surface</b> (called the "matrix" or "support").The medium 
                            is commonly applied to the base with a brush, but other implements, such as knives, sponges, and airbrushes, can be used.</p>
                            <a class="learn-more d-inline-block" href="~/Public/Course/Paint" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service3 end -->
            </div><!-- Col 3 end -->
        </div><!-- Content row end -->
    </div><!-- Container end -->
</section><!-- Feature are end -->
