
@{
    ViewBag.Title = "Dance";
    Layout = "~/Areas/Public/Views/Shared/_PublicLayout.cshtml";
}


<style>
    .project {
        margin: 15px 0;
    }

    .no-gutter .project {
        margin: 0 !important;
        padding: 0 !important;
    }

    .has-spacer {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .has-spacer-extra-space {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .has-side-spacer {
        margin-left: 30px;
        margin-right: 30px;
    }

    .project-title {
        font-size: 1.25rem;
    }

    .project-skill {
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
    }

    .project-info-box {
        margin: 15px 0;
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 5px;
    }

        .project-info-box p {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #d5dadb;
        }

            .project-info-box p:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        -webkit-backface-visibility: hidden;
    }
</style>
<h2></h2>

<div class="container">
    <br />
    <h4>Dance Course info</h4>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <img src="~/Assets/source/images/dance.jpg" class="z-depth-2">
            <div class="project-info-box">

            </div><!-- / project-info-box -->
        </div><!-- / column -->
        <div class="col-md-7">

            <div class="project-info-box">
                <p>
                    <b>Our Promise:</b> Dance is a performing art form consisting of sequences of movement, either improvised or purposefully selected.
                    This movement has aesthetic and often symbolic value. Dance can be categorized and described by its choreography, by its repertoire
                    of movements, or by its historical period or place of origin.
                    <br /><br />We have 88 years experience and knowhow in educating dancers worldwide. I.D.A. is an internationally recognised dance 
                    academy which guarantees you international training and coaching at the highest level. Students at our one year Dance Diploma 
                    Education or our advanced two year program will study in Copenhagen and Los Angeles as full-time students. International Dance 
                    Academy is the only education of it's kind and receives the industry- and professional community's trust. At I.D.A. you study 
                    and live like a professional. I.D.A. dance performers have worked with great stars such as: Christina Aquilera, Justin Bieber, 
                    Kylie Minogue, Nicki Minaj, J Balwin, Taylor Swift, Paula Abdul, Nicole Scherzinger, Beyonce, JLO, Pitbull, NEYO, One Direction, 
                    Britney Spears, Nika Kljun, SONNY and Will Smith.
                </p>
                <
                <p style="color:#7010a3">
                    <b>
                        @Html.ActionLink("Back to Home", "Index", "Home")
                    </b>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

    </div>

</div>

